/* /home/modules/waybar/components/workspaces/workspaces.css */
#workspaces {
  margin-left: 35px;
}

#workspaces button {
  padding: 0 2px;

  font-size: 10px;
  font-weight: normal;

  color: @text;

  transition: all 0.3s ease;
}

#workspaces button.focused {
  color: @accent;
  background-color: transparent;
}

#workspaces button.active {
  color: @accent;
  background-color: transparent;
}

#workspaces button.empty {
  color: @text;
}

#workspaces button:hover {
  background-color: transparent;
  background: transparent;
  color: @base0A;
  box-shadow: none;
}

#workspaces button.urgent {
  color: @urgent;
}
