/* home/modules/waybar/components/battery/battery.css */

#battery {
  color: #a9b1d6;
  font-family: "JetBrainsMono Nerd Font";
  /* font-size: 14px; */
  padding: 0 5px;
}

#battery.charging {
  color: #7aa2f7;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #a9b1d6;
  }
}
