/* home/modules/waybar/components/battery/battery.css */

#battery {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  /* font-size: 14px; */
  padding: 0 5px;
}

#battery.charging {
  color: @accent;
}

#battery.warning {
  color: @base0A;
}

#battery.critical {
  color: @urgent;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @text;
  }
}
