/* home/modules/waybar/style.css */
/* --- Global Font & Colors --- */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-weight: normal;
    font-style: normal;
    min-height: 0;
}

/* --- Bar Background --- */
window#waybar {
    min-height: 28px;
    
    background-color: #131314;
    color: #a9b1d6;
        font-size: 14px;

}

/* --- Clock --- */
#clock {
  padding: 0 10px;
  color: #a9b1d6; 
  background-color: #131314;
}

/* --- Workspaces --- */
#workspaces {
    margin-left: 35px;
}

#workspaces button {
    padding: 0 2px; 
    
    font-size: 10px;
    font-weight: normal;
    
    color: #a9b1d6;
    
    transition: all 0.3s ease;
}

#workspaces button.focused {
    color: #7aa2f7;
    background-color: transparent;
}

#workspaces button.empty {
    color: #a9b1d6;
}

#workspaces button:hover {
    background-color: transparent;
    background: transparent;
    color: #e0af68;
    box-shadow: none;
}

#workspaces button.urgent {
    color: #f7768e; /* Red for urgent */
}
