/* home/modules/waybar/style.css */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

#workspaces,
#pulseaudio,
#cpu,
#memory,
#network,
#clock {
    padding: 2px 15px;
    color: @foreground;
    background: @background;
    border-radius: 8px;
    border: solid 1px @color3;
    opacity: 0.8;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0 0 2px 1px @color0;
}

#workspaces {
  padding-left: 13px;
  margin-left: 50px;
}

#workspaces button {
    margin-left: 4px;
    margin-right: 4px;
    background: #121212;
    color: #E8EAED
}

#workspaces button.active {
    background: #E8EAED;
    color: black;
}

#cpu {
  margin-right: 50px;
}

