/* home/modules/ui/wofi/style.css */
window {
  margin: 0px;
  border: 2px solid #89b4fa; /* Accent color */
  background-color: #1e1e2e; /* Dark base */
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 14px;
}

#input {
  display: none;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1e1e2e;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #89b4fa; /* Accent */
  outline: none;
}

#entry:selected #text {
  color: #1e1e2e; /* Contrast text */
}
