/* home/modules/waybar/components/pulseaudio/pulseaudio.css */

#pulseaudio {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  padding: 0 5px;
}

#pulseaudio.muted {
  color: #45475a;
}

#pulseaudio.bluetooth {
  color: @text;
}
