/* home/modules/waybar/components/pulseaudio/pulseaudio.css */

#pulseaudio {
  color: #a9b1d6;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  padding: 0 5px;
}

#pulseaudio.muted {
  color: #45475a;
}

#pulseaudio.bluetooth {
  color: #a9b1d6;
}
