/* home/modules/waybar/components/network/network.css */

#network {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  /* font-size: 14px; */
  padding: 0 5px;
}

#network.disconnected {
  color: @text;
  /* color: #f38ba8; */
}

#network.ethernet {
  color: @text;
  /* color: #89b4fa;  */
}

#network.alternating {
  background-color: @accent;
  color: @background;
  border-radius: 8px;
}
