/* home/modules/waybar/components/bluetooth/bluetooth.css */

#bluetooth {
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  padding: 0 5px;
}

#bluetooth.on {
  color: @text;
}

#bluetooth.connected {
  color: @base0B;
}

#bluetooth.off,
#bluetooth.disabled {
  color: #45475a;
}
