/* home/modules/waybar/components/memory/memory.css */
#memory {
      /* font-size: 14px; */
      color: #cba6f7; 
      background-color: transparent;
      padding: 0 5px;
}

#memory.alternating {
      background-color: #313244;
      border-radius: 8px;
      color: #ffffff;
}
